
body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    background-color: #bde0ee;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

.jumbotron {
    color: #f1cf40;
    background: #0e1f65;
}

.content{
    padding-top: 70px;
    text-align: center;
    margin: auto;
    width: 100%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

.platform {
    text-align: left;
    vertical-align: center;
}

.map {
    height: 500px;
}

iframe {
    height: 100%;
    width: 100%;
    margin: 10px;
}

#heart{
    color: #800020;
}

#vote_by_mail{
    color: red;
    font-weight: bold;
}

hr {
    width: 350px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}